<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{%- include analytics-head.html %}
<title>{% if page.title and page.url != "/" %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
{%- if site.site_noindex or page.robots == "noindex" %}
<meta name="robots" content="noindex, follow">
{%- endif %}
{%- include seo.html %}
{%- include morzsa.html %}
{% feed_meta %}
<script>document.documentElement.classList.add('js')</script>
<link rel="preload" href="{{ "/assets/fonts/lato-400.woff2" | relative_url }}" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
